<ion-app>
  <ion-menu content-id="menu" type="overlay">
    <ion-list>
      <ion-header>
        <ion-title padding>
          Pocket Notebook
        </ion-title>
      </ion-header>
      <ion-item routerLink="/home"><ion-icon slot="icon-only" name="home"></ion-icon>
Home</ion-item>
      <ion-item routerLink="/library">Library</ion-item>
      <ion-item routerLink="/favorites">Favorites</ion-item>
      <ion-item routerLink="/preferences">Preferences</ion-item>
      <ion-item routerLink="/settings">Settings</ion-item>

    </ion-list>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>